*.[ao]
*.so
*.la
*.dylib
*.pyc
*Makefile
*Makefile.in
*config.h
install-sh
aclocal.m4
depcomp
missing
python/Makefile.in
python/Makefile
configure
config.guess
config.log
config.status
config.sub
*stamp-h1
py-compile
configure.scan
autoscan.log
autom4te.cache
autoscan.log
.deps 
compile


